[General]

# Components ( Valid values: all | client | es | ets | lcapps | server | smartda | streaming | rdsync | xs | studio | afl | pos | sal | sca | sop | trd | udf )
components={{ components }}

[Action]
# Action ( Default: exit; Valid values: install | update | extract_components )
action={{ action }}

[Server]
# SAP HANA System ID (ex: HDB)
sid={{ sid }}

# Instance Number (ex: 00)
number={{ number }}

# Database Mode ( Default: single_container; Valid values: single_container | multiple_containers )
db_mode={{ db_mode }}

# System Usage ( Default: custom; Valid values: production | test | development | custom )
system_usage={{ system_usage }}

# SAP Host Agent User (sapadm) Password
sapadm_password={{ sapadm_password }}

# System Administrator Password
password={{ system_admin_password }}

# Database User (SYSTEM) Password
system_user_password={{ system_user_password }}

# Restrict maximum memory allocation?
restrict_max_mem={{ restrict_max_mem }}

# Maximum Memory Allocation in MB
max_mem={{ max_mem }}

# Enable OR Disable Backup Encryption ( Valid values: on (Default Value) | off )
backup_encryption={{ backup_encryption }}

# Enable OR Disable Volume Encryption ( Valid values: on (Default Value) | off )
volume_encryption={{ volume_encryption }}
