---

  # Superdome Flex Server RMC Info
  server_hardware_rmc_ip: {{ item.value.rmc_ip }}
  server_hardware_username: {{ item.value.rmc_user }}
  server_hardware_password: {{ item.value.rmc_password }}

  # Superdome Flex Server Partition Number
  pnum: Partition{{ item.value.pnum }}

  # Persistent Memory Configuration
  # If Persistent Memory  defined
  # You can enable this feature (true/false)
  pmem: {{ item.value.pmem_conf }}

  #### Host Based Variables ####
  # SUSE Connect subscribe  variables
  regcode: {{ item.value.suse_reg_code }}

  # Host Network Interfaces
  data_interface: {{ item.value.data_interface }}
  rep_interface: {{ item.value.rep_interface }}

  # Hardware Raid Card type
  broadcom_megaraid: {{ item.value.broadcom_megaraid }}
  broadcom_megaraid_disks: {{ item.value.broadcom_megaraid_disks }}
  disk_controller: {{ item.value.broadcom_megaraid_controller }}

  # OS Data Logical Drive
  OS_LogicalDriveName: OS
  OS_Raid: {{ item.value.os_disc_raid }}
  #Set to -1 to use all remaining space for maximum size
  OS_CapacityGiB: {{ item.value.os_disc_capacity_gb }}
  OS_Partition: {{ item.value.os_partition }}

  # Operating System Logical disk Parameters
  hana_data_disks:
      partition: {{ item.value.hana_data_partition }}
      volume_group: vg_hana_data
  hana_shared_disks:
      partition: {{ item.value.hana_shared_partion }}
      volume_group: vg_hana_shared
  hana_log_disks:
      partition: {{ item.value.hana_log_partition }}
      volume_group: vg_hana_log
  hana_usr_sap_disks:
      partition: {{ item.value.usr_sap_partition }}
      volume_group: vg_hana_usr_sap 

  hanavols:
    hana_shared:
      size: {{ item.value.hana_shared_lv_size_gb }}G
      vol: vg_hana_shared
      lv: lv_hana_shared
      mountpoint: /hana/shared
      fs_type: xfs
    hana_data:
      size: {{ item.value.hana_data_lv_size_gb }}G
      vol: vg_hana_data
      lv: lv_hana_data
      mountpoint: /hana/data
      fs_type: xfs
    hana_logs:
      size: {{ item.value.hana_log_lv_size_gb }}G
      vol: vg_hana_log
      lv: lv_hana_log
      mountpoint: /hana/log
      fs_type: xfs
    usr_sap:
      size: {{ item.value.usr_sap_lv_size_gb }}G
      vol: vg_hana_usr_sap
      lv: lv_hana_usr_sap
      mountpoint: /usr/sap
      fs_type: xfs



  ### Hana DB Configuration Parameters ###
  # Components ( Valid values: all | client | es | ets | lcapps | server | smartda | streaming | rdsync | xs | studio | afl | pos | sal | sca | sop | trd | udf )
  #components: server,client
  components: {{ item.value.hana_components }}
  # Action ( Default: exit; Valid values: install | update | extract_components )
  action: install
  # SAP HANA System ID (ex: HDB)
  sid: {{ item.value.hana_sid }}
  # Instance Number (ex: 00)
  number: "{{ item.value.hana_instance_number }}"
  # Database Mode ( Default: single_container; Valid values: single_container | multiple_containers )
  db_mode: multiple_containers
  # System Usage ( Default: custom; Valid values: production | test | development | custom )
  system_usage: {{ item.value.system_usage }}
  # SAP Host Agent User (sapadm) Password
  sapadm_password: {{ item.value.hana_sapadm_password }}
  # System Administrator Password
  system_admin_password: {{ item.value.hana_system_admin_password }}
  # Database User (SYSTEM) Password
  system_user_password: {{ item.value.hana_system_user_password }}
  # Restrict maximum memory allocation? ( Default: off; Valid values: off | on )
  restrict_max_mem: {{ item.value.restrict_max_mem_allocation }}
  # Maximum Memory Allocation in MB
  max_mem: {{ item.value.restrict_max_mem_mb }}
  # Enable OR Disable Backup Encryption ( Valid values: on (Default Value) | off )
  backup_encryption: {{ item.value.backup_encryption }}
  # Enable OR Disable Volume Encryption ( Valid values: on (Default Value) | off )
  volume_encryption: {{ item.value.volume_encryption }}

  # Hana DB Replication Configuration Parameters
  primary_server:
    hostname: {{ item.value.rep_primary_hostname }}
    public_ip: {{ item.value.rep_primary_public_ip }}
    replication_ip: {{ item.value.rep_primary_rep_ip }}

  secondary_server:
    hostname: {{ item.value.rep_secondary_hostname }}
    public_ip: {{ item.value.rep_secondary_public_ip }}
    replication_ip: {{ item.value.rep_secondary_rep_ip }}

  tertiary_server:
    hostname: {{ item.value.rep_tertiary_hostname }}
    public_ip: {{ item.value.rep_tertiary_public_ip }}
    replication_ip: {{ item.value.rep_tertiary_rep_ip }}

  # Replication Type ( sync | syncmem | async )
  tier2_replication_type: {{ item.value.tier2_replication_type }}
  tier3_replication_type: {{ item.value.tier3_replication_type }}

  # Replication Operation Mode ( logreplay )
  operation_mode: {{ item.value.rep_operation_mode }}

  # Hana Key Exchange Temporary Storage ( logreplay )
  sap_hana_hsr_keyexchange_tmp: /home/hpe/ansible/ansible-sap-hana-deploy-sles/hsr_keyexchange_tmp

